@import "./vars.css" layer(base);

@import "tailwindcss";

@config '../../tailwind.config.ts';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border);
  }
}

/* Custom utilities */
@utility actionable {
  @apply transition-all duration-150 ease-in cursor-pointer;
}

@utility heading {
  @apply font-sans font-semibold leading-tight tracking-tight text-heading;
}

@utility absolute-center {
  @apply absolute;

  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@layer base {

  /* Base styles - START */
  body {
    @apply text-base text-text bg-background;
  }

  a,
  .a {
    @apply inline-flex items-center no-underline text-text;
    @apply actionable;
  }

  a:hover,
  .a:hover,
  a:focus,
  .a:focus,
  a:active,
  .a:active {
    @apply text-primary-hover;
  }

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    @apply text-secondary;
  }

  h1,
  .h1 {
    @apply text-4xl heading;
  }

  h2,
  .h2 {
    @apply text-3xl heading;
  }

  h3,
  .h3 {
    @apply text-2xl heading;
  }

  h4,
  .h4 {
    @apply text-xl heading;
  }

  h5,
  .h5 {
    @apply text-lg heading;
  }

  h6,
  .h6 {
    @apply text-base heading;
  }

  @media (width >=theme(--breakpoint-md)) {

    h1,
    .h1 {
      @apply text-5xl;
    }

    h2,
    .h2 {
      @apply text-4xl;
    }

    h3,
    .h3 {
      @apply text-3xl;
    }

    h4,
    .h4 {
      @apply text-2xl;
    }

    h5,
    .h5 {
      @apply text-xl;
    }

    h6,
    .h6 {
      @apply text-lg;
    }
  }

  @media (width >=theme(--breakpoint-lg)) {

    h1,
    .h1 {
      @apply text-6xl;
    }

    h2,
    .h2 {
      @apply text-5xl;
    }

    h3,
    .h3 {
      @apply text-4xl;
    }

    h4,
    .h4 {
      @apply text-3xl;
    }

    h5,
    .h5 {
      @apply text-2xl;
    }

    h6,
    .h6 {
      @apply text-xl;
    }
  }

  /* Base styles - END */
}

@layer components {

  /* Components - START */
  .button {
    @apply inline-flex items-center content-center px-5 py-3 leading-none text-white no-underline border-0 rounded-md shadow-xs bg-primary;
    @apply actionable;
  }

  .button:hover,
  .button:focus,
  .button:active {
    @apply text-white shadow-md bg-primary-hover;
  }

  .section-grid {
    @apply grid grid-cols-1 md:grid-cols-2-left-fixed-350 lg:grid-cols-2-left-fixed-400 gap-5 md:gap-10 items-start;
  }

  /* Components - END */
}