:root {
  --color-text-default: #000000;
  --color-bg-default: #ffffff;

  --color-text-nav: #ffffff;
  --color-bg-nav: #2D3748;

  --color-text-footer: #000000;
  --color-bg-footer: #edf2f7;
}

.dark {
    --color-text-default: #ffffff;
    --color-bg-default: #1A202C;

    --color-text-nav: #ffffff;
    --color-bg-nav: #2D3748;

    --color-text-footer: #ffffff;
    --color-bg-footer: #2D3748;
}

@tailwind base;

@tailwind components;

@tailwind utilities;

.heading {
  @apply leading-tight font-bold;
}

a {
  @apply opacity-75 duration-200;
}

a:hover {
  @apply opacity-100;
}
