:root {
  --color-text: #191924;
  --color-background: #fff;
  --color-heading: #07070a;

  --color-primary: #2371a1;
  --color-primary-hover: #184d6e;

  --color-secondary: #a15323;
  --color-secondary-hover: #7f411c;

  --color-tertiary: #32a123;
  --color-tertiary-hover: #226d18;

  --color-accent: #fb3640;
  --color-accent-hover: #fa0f1b;

  --color-muted: #f6f6f6;
  --color-muted-hover: #ebebeb;

  --color-border: #ebece9;
  --color-border-hover: #b9bdb3;
}

:root[data-color-scheme="dark"] {
  --color-text: #fff;
  --color-background: #15191b;
  --color-heading: #fff;

  --color-primary: #3b9bd7;
  --color-primary-hover: #237eb7;

  --color-secondary: #d7773b;
  --color-secondary-hover: #bd6127;

  --color-tertiary: #4dd73b;
  --color-tertiary-hover: #31a622;

  --color-accent: #fb3640;
  --color-accent-hover: #fa0f1b;

  --color-muted: #2a2a3c;
  --color-muted-hover: #212130;

  --color-border: #666666;
  --color-border-hover: #989898;
}
