:root {
  --color-text: #191924;
  --color-background: #fff;
  --color-heading: #07070a;

  --color-primary: #ff4b56;
  --color-primary-hover: #f83d49;

  --color-secondary: #dc0714;
  --color-secondary-hover: #b3000c;

  --color-tertiary: #6f2828;
  --color-tertiary-hover: #6f2828;

  --color-fourtiary: #3d0c0c;
  --color-fourtiary-hover: #290808;

  --color-accent: #dc0714;
  --color-accent-hover: #ff4b56;

  --color-muted: #e6e6e6;
  --color-muted-hover: #ebebeb;

  --color-border: #ebece9;
  --color-border-hover: #b9bdb3;
}

:root[data-color-scheme="dark"] {
  --color-text: #dcdcdc;
  --color-background: #221e1e;
  --color-heading: #ffffff;

  --color-muted: #131313;
  --color-muted-hover: #212121;

  --color-border: #666666;
  --color-border-hover: #989898;
}