name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
    - uses: actions/checkout@v2.3.4
    - name: Build with Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2.1.5
      with:
        node-version: ${{ matrix.node-version }}
    - name: Cypress run
      uses: cypress-io/github-action@v2.9.7
      with:
        build: npm run build
        start: npm run serve
        wait-on: http://localhost:8000
      env:
        CI: true
    - name: Deploy to Netlify
      uses: netlify/actions/cli@master
      with:
        args: deploy --dir=public --prod --auth=${{ secrets.NETLIFY_AUTH_TOKEN }} --site=${{ secrets.NETLIFY_SITE_ID }} --message="${{ github.sha }}"
    - name: Create Sentry release
      uses: getsentry/action-release@v1.1.5
      env:
        SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
        SENTRY_ORG: vdeantoni
        SENTRY_PROJECT: vdeantoni
      with:
        environment: production
        version: ${{ github.event.release.tag_name }}
